.App {
  border: 2px hidden black;
  width: 90%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.imagecardcontainer{
  width: 100%;
  border: 3px hidden blue;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.imagecardcontainer h2{
  width: 100%;
  text-transform: capitalize;
  margin: 5px auto 20px;
  line-height: 1.5;

}

.imagecards{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}



@media(min-width:768px){
  .App{
    width:80%;
  }

  .imagecardcontainer h2{
    text-align: center;
  }
}
